.service-item{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.service-item .icon{
    margin-right: 15px;
    background-color: var(--primary-color);
    color: var(--card-bg-wh);
    padding: 8px;
    border-radius: 50%;
}
.service-item .icon svg{
    font-size: 2rem;
}
.service-item .intro-services h3{
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}
.service-item .intro-services p{
    font-size: .9rem;
    margin-top: 5px;
}